*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.focus{
    text-align: center;
    margin-top: 19%;
}

span{
    font-family: 'Orbitron', sans-serif;
    color: transparent;
    font-size: 50px;
    text-align: center;
    letter-spacing: 25px;
    text-shadow: 0 0 4px #000;
    transition: .5s;
}

span:hover{
    color:#000;
    text-shadow: none;
    cursor: pointer;
    transition: .5s;
}
